/* comment */
#isso-div {
    margin-top: 60px;
    width:100%;
}
#isso-div a {
    border-bottom: 0px solid #999;
}
#isso-div .auth-section input[type=submit] {
    width:120px;
    height:30px;
    background-color: #93D357;
    color: white;
}
#isso-thread .textarea.placeholder {
    color: #AAA;
}
.isso-postbox > .form-wrapper > .auth-section .input-wrapper input::placeholder {
    color: #AAA;
}
.isso-comment > div.text-wrapper > .isso-comment-header .note {
    float: right;
    border: 0px;
}
/* theme: next */
.posts-expand .post-body img {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
    border: 0.5px solid #ddd;
}
.site-author-image {
  border-radius: 100%;
  padding: 2px;
  border: 2px dashed #fff;
  animation: cycle 2s 0.5s forwards;
  transition: border-radius 2s;
}
/* Custom for headband */
/* .site-meta {
    background: #424242;
}
.headband {
    background: #424242;
}
*/